*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  background-color: #FAEBDF;
}

main{
  height: 100%;
  width: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #FAEBDF;
  border-radius: 0 0 20px 20px;
  border-bottom: 1px solid #cfcece;
}

.red{
  color: #ff0000;
}

.nav-left{
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-left h1{
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-links{
  display: flex;
  gap: 40px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.nav-right{
  display: flex;
  gap: 20px;
}

.nav-right span{
  font-size: 20px;
  cursor: pointer;
}

.main-content{
  padding: 40px;
}

.hero-part{
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.main-content{
  height: calc(100% - 20%);
  margin-bottom: 3rem;
}

.hero{
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.hero-text>span{
  font-size: 16px;
  font-weight: 500;
  color: #ff0000;
}

.hero-text>h1{
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-text>h2{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.hero-text>hr{
  width: 200px;
  border: 1px solid #b6b6b6;
  margin-bottom: 10px;
}

.hero-desc{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.hero-desc>h3{
  text-transform: uppercase;
  font-size: 1.2rem;
}

.hero-desc>p{
  font-size: small;
  line-height: 1.6;
  color: #444;
}

.read-more{
  display: flex;
  align-items: center;
  gap: .5rem;
  text-transform: uppercase;
}

.product-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.product-info>h2{
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: .5rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.size-container{
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.sizes{
  display: flex;
  gap: 1rem;
}

.sizes>span{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  background-color: #b1a19425;
  border: none;
}

.sizes> span:nth-child(2) {
  background-color: orangered;
  color: #fff;
}

.color-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.color-container>h2{
  text-transform: uppercase;
}

.product-info>p{
  display: flex;
  align-items: center;
  gap: .5rem;
  text-transform: uppercase;
  font-size: small;
  color: #444;
  cursor: pointer;
}


.varients{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.active{
  height: 110px;
  width: 120px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
  border: 1px solid #b6b6b6;
  justify-content: center;
  padding: 8px;
  background-color: #b1a19425;
}

.org{
  border: 2px solid orangered;
}

.active img{
  height: 90%;
  width: 80%;
  object-fit: cover;
  filter: drop-shadow(5px 5px 5px #0000005d);
}

.add-item-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.wishlist{
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  border: 1.5px solid #8b807625;
  padding: 10px 25px;
  gap: 1.5rem;
  border-radius: 20px;
  font-weight: 600;
}

.wishlist span{
  margin-right: 5px;
  font-size: 17px;
}

.bag span{
  margin-left: 5px;
  font-size: 17px;
}

.bag{
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: orangered;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 600;
}

.hero-img-container{
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img{
  width: 75%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 35px 25px #0000005d);
}

.about{
  display: flex;
  gap: 2rem;
}

.about>div{
  display: flex;
  gap: .5rem;
  font-size: .7rem;
  font-weight: 500;
  color: #555;
}

.about>div span i{
  font-size: 25px;
}

.feature-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 20px;
  background-color: #8b80760f;
  margin-bottom: .5rem;
  margin-top: 20px;
  width: 95%;
  margin: auto;
  gap: 1.5rem;
}

.features{
  display: flex;
  gap: 1rem;
}

.feature-img{
  height: 150px;
  width: 120px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #8b807636;
}

.feature-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feature-img-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.feature-img-desc>h2{
  font-size: .9rem;
  text-transform: uppercase;
}

.feature-img-desc>p{
  font-size: small;
    line-height: 1.5;
    color: #444;
}

.sub-features{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: #8b80760f;
  width: 95%;
  margin: .5rem auto;
}

.extra-features{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.extra-feature-icon i{
  font-size: 2.5rem;
}

.extra-feature-desc>p{
  display: flex;
  flex-direction: column;
  font-size: small;
}